<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
    <!--[if lt ie 9]>
        <script src="../public/bootstrapV3/html5shiv.min.js"></script>
        <script src="../public/bootstrapV3/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../public/bootstrapV3/css/bootstrap.min.css">
    <script src="../public/bootstrapV3/js/jquery.min.js"></script>
    <script src="../public/bootstrapV3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/layer/skin/default/layer.css">
    <script src="../public/layer/layer.js"></script>
</head>

<body>